body {
  font-family: Helvetica, sans-serif;
  font-size:15px;
}

a {
  text-decoration:none;
}
.show-effect {
  display:block!important;
}
.hide-effect {
  display:none!important; 
}
#root > ul {
  display: block!important;
}
#root ul{
  list-style-type:none;
  display: none;
  padding-left: 20px;
}
#root ul li {
  list-style:none; 
} 
#pre_icon {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 10px;
  background: darkgray;
  border-radius: 10px;
  margin-right: 3px;
  width: 22px;
  font-family: monospace;
}